.group-content {
  background-color: $primary-color-dark;
  padding: 3rem 10rem;
}

.group-content__header {
  color: $off-white;
  text-align: center;
  padding-bottom: 3rem;
  margin: 0;
}

.group-content__new {
  text-align: center;
  margin-bottom: 3em;
}
