.group-list {
  .group-item {
    border-color: $faded-text;
    background-color: $primary-color-light;
    color: $faded-text;
  }

  .group-item__title {
    font-size: 1.7em !important;
    color: $primary-text;
  }

  .group-item__description {
    padding: 0.5em 0;
  }

  .group-item__actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 0.8em;
  }
}
