<div class="primary-background">
  <%= render Org.SharedView, "nav.html", assigns %>

  <div class="base-layout">
    <h2 class="primary-header">Edit <%= @group.title %></h2>
    <section class="base-form">
      <%= render "form.html", changeset: @changeset, action: group_path(@conn, :update, @group) %>
    </section>
  </div>
</div>
