<div class="primary-background">
  <%= render Org.SharedView, "nav.html", assigns %>

  <div class="base-layout">
    <h2 class="primary-header">Name: <%= @user.name %></h2>
    <h6>Email: <%= @user.email %></h6>
    <%= link "Edit", to: user_path(@conn, :edit, @user) %>
    <%= link "Back", to: user_path(@conn, :index) %>
  </div>
</div>
